.app-header {
    height: 70px;
    background-color: lightgrey;
    margin: auto;
  }

.app-nav{
    background-color: lightpink;
    list-style-type: none;
    width: 50%;
    font-size: 1.05em;
    margin: 0;
    padding: 0;
}

.app-nav > *:not(:last-child) {
    margin-inline-end: 40px;
}