body{
    background-image: url(../../img/bcg.jpg);
    background-size:cover;
}

.header-container{
    background-color: transparent;
}

.home-page{
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    font-family: monospace;
}